#contact_modal {
    display: none;
    
}
*:focus {
    border: solid 2px blue;
}                                                                                                                               
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    z-index: 1;
    left: 385px;
    right: 385px;
    top: 0;
    
    width: 669px;
    height: 85%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    
}

.modal header img {
    cursor: pointer;
    margin-bottom: 145px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 125px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
    white-space:normal;
}

#lightbox{
    position: fixed;
    display: block;
    width: 1253px;
   height: 900px;
   left: 350px;
    top: 40px;
    bottom: 40px;
    background-color: #FFFFFF;
    border: 2px solid #95FFF9;
    z-index: 10;
    margin: auto 0;
}

.lightbox__next,
.lightbox__previous{
    border:none;
    background: url(../assets/icons/next&previous.svg) center center / 100% 100%;
    width : 29px;
    height: 48px;
    position: fixed;
    top: 50%;
    right: 351px;
    margin-top: -14px;
    z-index: 11;
    cursor: pointer;
    text-indent: -5000px;
    
}

.lightbox__previous{
    left: 391px;
    text-indent: -5000px;
    transform: rotate(180deg);
}

.lightbox__close {
    border:none;
    background: url(../assets/icons/close.svg) center center / 100% 100%;
    width: 42px;
    height: 42px;
    position: fixed;
    right: 341px;
    top: 77px;
    z-index: 12;
    margin-top: -14px;
    cursor: pointer;
    text-indent: -5000px;
    color: #901C1C;
    
}
.lightbox__container{
    display: flex;
    justify-content: center;
    
    
    
}
.lightbox__container img{
  width: 1050px;
  height: 800px;
  object-fit: cover;
  margin-top: 50px;
}
.lightbox__container video {
    height: 800px;
    width: 800px;
    margin-top: 50px;
}

.heart {
    display: block;
    position: absolute;
    left: 90px;
}
button:hover{
    background-color:  #DB8876;
  }
  button:focus{
    background-color: #DB8876;
  }

