@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 42px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-right: 100px;
    
}

.photographer_section img {
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: 4px;
    
}

.photographer_section article h3 {
    color: #901C1C;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    bottom: 30px;
}
.photographer_section article h4 {
    font-size: 9px;
    color: #757575;
    font-weight: 400;
    
}

.photographer_section article p {
    font-size: 10px;
    position: absolute;
    bottom: 20px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    align-items: center;
    
}

.photographer_section article a {
    display: block;
    text-align: center;
    text-decoration: none;
}
.photograph-header{
    position:relative;
    display: grid;
}
.photograph-header article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    
}
.photograph-header img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
   order : 3;
}

.contact_button {
    order: 2;
}
.photograph-header h1 {
    color: #D3573C;
    font-weight: 400;
    font-size: 64px;
}

.photograph-header h2 {
    font-weight: 400;
    font-size: 24px;
    color: #901C1C;
    line-height: 0px;
}
.photograph-header p {
   color: #525252;
   font-size: 18px
}

select {
    background-color: #901C1C;
    color: #ffff;
    border-radius: 5px;
    border : 0;
    height: 40px;
    width: 140px;
    font-size: 18px;
    appearance: none;
    position: relative;
    padding-left: 1rem;
}
label {
    font-size: 18px;
    font-weight: 700;
    color: #312E2E;
}
.photographer-book {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 110px;
    margin-top: 50px;
    gap: 70px;
    
}
.photographer-book article div {
    display: flex;
    justify-content: space-between;
    width: 300px;
    position:relative;
}
.photographer-book img {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}
.photographer-book h2 {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}
.photographer-book span {
display: inline-block;    
font-weight: 500;
font-size: 24px;
color: #901C1C;
margin-right: 20px;
margin-top: 23px;

}
video {
    width : 300px;
    height: 300px;
}
object {
    position: absolute;
    right: 0;
    top: 30px;
}
.photographer-informations {
    width: 326px;
    height: 55px;
    font-size:  24px;
    font-weight: 500;
    justify-content: space-around;
    line-height: 54px;
    z-index: 1;
    background-color: #DB8876;
    border-radius: 5px 5px 0px 0px;
    border: solid 1px #b5533e;
    position: fixed;
    right: 35px;
    bottom: 0px;
    display: flex;
}

#message {
    height: 15vh;
    width: 100%;
    font-size: 36px;
}